<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1 style=" color:blueviolet"> canditate timesheet</h1>
<form action="/candidate" method="POST" >

Name:<input type="text"  name="a1" placeholder="name"> <br> <br>
timesheet:<input type="text"  name="a2" placeholder="timesheet" > <br> <br>
work:<input type="text"  name="a3" placeholder="work"> <br> <br>

<input type="submit" value="submit">
</body>
</html>

